<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tracker Admin</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 
    <%- include('partials/header.ejs', {color: 'orange'}) %>
    <div class="main">
        <div class="left">
            <h1>Accounts:</h1>
            <% if (locals.users) { %>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th><a>Delete</a></th>
                </tr>
                <% for( let index = 0; index < users.length; index++ ) { %>
                    <tr>
                        <td><%= users[index].user %></td>
                        <td class="hoverhide"><%= users[index].pass %></td>
                        <td><button onclick="
                        var conf = window.confirm('Are you sure you want to delete user:' + '<%= users[index].user %>');
                        if (conf == false) {
                            return;
                        }
                        location.href = '/admin/delete?user=<%- users[index].user %>';
                        console.log('hello');
                        " style=" background-color: red; "><span style="color: white; font-weight: bolder; font-size: 1.2em;">X</span></button></td>
                    </tr>
                <% } %>
            </table>
            <% } else { %>
                <i>No accounts...</i>
            <% }%>
        </div>
        <div class="right">
            <h1>Add Account</h1>
            <form class="createform" method="post">
                <label>Username</label>
                <input type="text" id="user" name="user" required>
                <label>Password</label>
                <input type="text" id="pass" name="pass" required>
                <input type="submit" id="sub" value="submit">
                <span style="font-size: 0.9em; color: blueviolet; font-weight: bold;"> <%- msg %> </span>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script>
        document.querySelector("#pass").value = generatePass();
    </script>
</body>
</html>